/* styling for gravity forms. */
.gform_wrapper {
  form {
    .gform_heading {

    }
    .gform_body {
      ul.gform_fields {
        li.gfield {
          textarea {
            background-color: white;
          }
        }

        li.gfield.reach_gf_hide_title {
          label.gfield_label {
            display: none;
          }
        }
      }
    } // gform_body

    .gform_footer {
      // display: flex;
      // justify-content: flex-end; // put button on right
      input[type=submit] {
        background-color: $hospice-content-link;
      }
      input[type=submit]:hover {
        background-color: $hospice-light-button;
      }
    } // gform_footer

  } // form
  form.rmm-gform-grid-lines {
      ul.gform_fields {
        li.gfmc-column {
          text-align: center;
          ul {
            margin-top: 0px;
            .gfield {
              margin-top: 0px;
            }
            .gfield_checkbox label {
                width: 100%;
            }
          }

        }
      }
  }
}
