/* styling for woocommerce */
/*  product page */
// make image smaller collumng
.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images {
  width: 20%;
}

.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary {
  width: 76%;
}
.product {
  .product-addon  {
    .addon-name {
      font-size: 22px;
      line-height: 26px;
    }
    p.form-row {
      margin-bottom : 10px;
    }
  }
}
